<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/_head.ejs', { pageTitle: 'Edit Item' }) %>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <main class="container section">
    <h1>Edit Item</h1>
    <form class="form card" action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST">
      <div class="form__row">
        <label class="label" for="name">Item name</label>
        <input class="input" id="name" name="name" value="<%= item.name %>" required>
      </div>
      <div class="form__actions">
        <button class="btn" type="submit">Update</button>
      </div>
    </form>
  </main>
</body>
</html>
